.emoji-green {
    color:transparent;
    text-shadow: 0 0 0 green;
}
.emoji-yellow {
    color:transparent;
    text-shadow: 0 0 0 orange;
}
.emoji-red {
    color:transparent;
    text-shadow: 0 0 0 red;
}